* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    border: 30px solid white;
}

.hero-image{
    background-image: url(../images/beach.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hue;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: white;
    text-align: center;
}

.hero-text h2 {
    font-size: 250%;
    font-weight: 500;
    margin-bottom: 10px;
}

.hero-text h2:hover {
    color: rgba(255, 192, 203, 0.548);
    font-size: 300%;
    transition: 3s ease-in-out;
}

#small-text{
    margin-bottom: 10px;
    font-style: italic;
}

.hero-text p {
    font-size: 130%;
    font-weight: 500;
    line-height: 32px;
    padding: 0 26em;
    margin-bottom: 1.25em;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: fuchsia;
    background-color: rgba(255, 182, 193, 0.878);
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 5px;
}

.hero-btn:hover {
    color: navy;
    background-color: rgba(255, 255, 255, 0.503);
}